.form_footer{
    display: flex;
    flex-direction: row;
    color:#595959;
    align-items: center;
    justify-content: flex-start;
    column-gap:10px;
    margin-top: 24px;
}
.form_footer div{
    color:#3766a9;
    cursor: pointer;
}
.form_footer div:hover{
    color:  red;
}