.container{
    max-width:1170px;
    height:100%;
    margin:0 auto;
    padding:0 15px;
}

.cart_logo{
}
.main{
}
.main_wrapper{
    display: flex;
    flex-direction: column;
}
.search_input{
    color:#626262;
    font-size:16px;
    user-select: none;
    margin-top:56px;
}
.search_rectangle{
    height:1px;
    fill: #757575;
    opacity: 0.30000001192092896;
    width:100%;
    border: 1px inset; /* This is default border style for <hr> tag */
}
.main_header{
    margin-top:56px;
    font-size: 22px;
    color: #1D1D1D;
}
