.container{
    max-width:1170px;
    height:100%;
    margin:0 auto;
    padding:0 15px;
}
.header{
    background-color:#FFFFFF;
    height:72px;
    width:100%;
}
.header_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 100%;
    flex:1;
}
.header_logo{

}
.header_block{
    display: flex;
    flex-direction: row;
}
.button_login{
    height:40px;
    padding: 14px 20px 14px 20px;
    border: 1px solid #E0E0E0;
}
.cart_logo{
}
.main{
}
.main_wrapper{
    display: flex;
    flex-direction: column;
}
.search_input{
    color:#626262;
    font-size:16px;
    user-select: none;
    margin-top:56px;
}
.search_rectangle{
    height:1px;
    fill: #757575;
    opacity: 0.30000001192092896;
    width:100%;
    border: 1px inset; /* This is default border style for <hr> tag */
}
.main_header{
    margin-top:56px;
    font-size: 22px;
    color: #1D1D1D;
}
.footer{
    background-color:#262626;
    width:100%;
    color:#fff;
    font-size:13px;
}
.footer_wrapper{
    margin-top:56px;
    display: flex;
    flex-direction: column;
}