.container{
    max-width:1170px;
    height:100%;
    margin:0 auto;
    padding:0 15px;
}
@media screen and (max-width:787px) {
    .container{
        height: 100%;
        max-width:none;
        margin:0 auto;
    }
}
.main_wrapper{
    display: flex;
    flex-direction: column;
}
.main_header{
    margin-top:56px;
    font-size: 22px;
    color: #1D1D1D;
}
