.active{
    color:#327430 !important;
}
.non_active{
}
.restaurant_choose_dishes{
    color:#626262;
    border: 1px solid rgba(117, 117, 117, 0.20);
    width: 100%;
    font-size: 16px;
    user-select: none;
}
.restaurant_choose_dishes_wrapper{
    display: flex;
    flex-direction: row;
    column-gap:40px;
    padding-top:32px;
    padding-bottom: 29px;
}