.search_input{
    color:#626262;
    font-size:16px;
    user-select: none;
    margin-top:56px;
    cursor: pointer;
    pointer-events: all;

}
input[type="text"]{
    font-size: 24px;
    outline-width: 0;
    outline: none;
    border:none;
    border-bottom: 1px solid rgb(38%, 38%, 38%, 0.30000001192092896);;

}
.search_rectangle{
    height:1px;
    fill: #757575;
    opacity: 0.30000001192092896;
    width:100%;
    border: 1px inset; /* This is default border style for <hr> tag */
}