.footer_grid{
    display: flex;
    margin-top:32px;
    justify-content: space-between;
    color:#fff;
    margin-bottom: 48px;
    column-gap:100px;
}
.footer_grid_item{
    display: flex;
    flex-direction: column;
    row-gap:23px;
    flex: 0 0 33.333%;
}
.footer_grid_logo_item{
    display: flex;
    column-gap: 12px;
}
@media screen and (max-width:787px) {
    .footer_grid{
        display: flex;
        flex-direction: column;
        margin-top:32px;
        justify-content: space-between;
        color:#fff;
        margin-bottom: 48px;
    }
    .footer_grid_item{
        display: flex;
        flex-direction: column;
        column-gap:23px;
        margin-top:23px;
    }
}
