.footer{
    background-color:#262626;
    width:100%;
    color:#fff;
    font-size:13px;
}
.footer_wrapper{
    margin-top:56px;
    display: flex;
    flex-direction: column;
}
.footer_container{
    max-width:80%;
}
