.restaurant_grid_item_list{
    margin-top:56px;
}
.restaurant_grid_item_wrapper{
    display: flex;
    flex-direction: column;
}

.restaurant_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(470px,1fr));
    column-gap:16px;
    row-gap: 49px;
}
@media screen and (max-width: 787px) {
    .restaurant_grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(308px,1fr));
        column-gap:16px;
        row-gap: 49px;
    }

}